@media only screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #919191;
        background-color: #896161;

    }
    /* address, article, aside, figcaption, figure, footer, header, nav, section {
        display: block;
        margin: 0;
        padding: 0;
    } */
    .wrapper {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
    }
    
    .row1, .row1 a {
        color: #C0BAB6;
        background-color: #333333;
    }
    #header, #container, #footer {
        display: block;
        width: 960px;
        margin: 0 auto;
    }
    #header {
        padding: 20px 0;
    }
    #header #hgroup {
        float: left;
        margin: 0 0 20px 0;
    }
    #header #hgroup h1 {
        font-size: 36px;
    }
    #header #hgroup h1, #header #hgroup h2 {
        font-weight: normal;
        text-transform: none;
    }
    #header #hgroup h2 {
        font-size: 13px;
    }
    #header form {
        display: block;
        width: 290px;
        float: right;
        margin: 20px 0;
        padding: 0;
        border: none;
    }
    form, fieldset, legend {
        margin: 0;
        padding: 0;
        border: none;
    }
    legend {
        display: none;
    }
    #header form input {
        display: block;
        width: 200px;
        float: left;
        margin: 0;
        padding: 5px;
        color: #C0BAB6;
        background-color: #232323;
        border: 1px solid #666666;
    }
    input, textarea, select {
        font-size: 12px;
        font-family: Georgia,"Times New Roman",Times,serif;
        margin: 0;
        padding: 5px;
    }
    #header nav  {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        color: #C0BAB6;
        background-color: #232323;
        clear: both;
    }
    #header nav ul {
        padding: 0 20px;
    }
    #header nav ul {
        margin: 0;
        list-style: none;
    }
    #header nav li {
        display: inline;
        margin-right: 25px;
        text-transform: uppercase;
    }
    #header nav li a {
        color: #C0BAB6;
        background-color: #232323;
    }
    #header nav li.last {
        margin-right: 0;
    }
    .clear {
        clear: both;
    }
    a {
        outline: none;
        text-decoration: none;
    }
    #header form #sf_submit {
        display: block;
        float: right;
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        color: #FFFFFF;
        background-color: #FF9900;
        cursor: pointer;
    }
    #header nav ul li a:hover {
        color: #FF9900;
        background-color: black;
    
    }
    
    /* content section */
    .row2 {
        color: #979797;
        background-color: #FFFFFF;
    }
    #container {
        padding: 30px 0;
    }
    #container #slider {
        margin-bottom: 50px;
    }
    #container section {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0;
    }
    .row2 a {
        color: #FF9900;
        background-color: #FFFFFF;
    }
    img {
        margin: 0;
        padding: 0;
        line-height: normal;
        border: none;
        vertical-align: middle;
    }
    a {
        outline: none;
        text-decoration: none;
    }
    #container #homepage  {
        line-height: 1.6em;
    }
    .one_quarter {
        width: 225px;
    }
    .one_quarter, .two_quarter, .three_quarter, .four_quarter {
        display: block;
        float: left; 
        margin: 0 20px 0 0;
        padding: 0;
        display: i;
    }
    #container #homepage #services figure {
        display: inline;
        float: left;
        margin: 0;
        padding: 0;
    }
    #container #homepage #services strong {
        float: left;
        margin: 8px 0 0 10px;
        padding: 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #container #homepage #services p {
        display: block;
        margin: 0;
        padding: 5px 0 0 0;
        line-height: 1.6em;
        clear: both;
    }
    #container .more {
        text-align: right;
    }
    .lastbox {
        margin-right: 0;
    }
    #container .last {
        margin: 0;
    }
    .three_quarter {
        width: 715px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    #container .more {
        text-align: right;
    }
    /* footer */
    .row3, .row3 a {
        color: #919191;
        background-color: #232323;
    }
    #footer {
        padding: 20px 0;
    }
    #footer p {
        margin: 0;
        padding: 0;
    }
    .fl_left {
        float: left;
    }
    .fl_right {
        float: right;
    }
    .clear::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        line-height: 0;
    }
}

 /* For Tablets */
 @media only screen and (max-width:768px) {
    #header{
        width: 100%;
        background: red;
    }
    #header nav ul li {
        width: 100%;
        display: block;
        border-bottom: 2px solid wheat;
        text-align: center;
    }
    #header nav ul {
        padding: 0;
    }
    #header nav {
        padding: 0;
    }
    #header nav li {
        margin-right: 0;
    }
    #container {
        display: block;
        width: 100%;
    }
    #container #slider {
        display: block;
        width: 100%;
        height: 280px;
    }
    #container #slider {
        margin-bottom: 50px;
    }
    #container #homepage #services figure {
        display: block;
        margin: 0;
        padding: 0;
    }
    #container #homepage #services strong {
        float: left;
        margin: 8px 0 0 10px;
        padding: 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #container #homepage #services p {
        display: block;
        margin: 0;
        padding: 5px 0 0 0;
        line-height: 1.6em;
        clear: both;
    }
    #container .more {
        text-align: right;
    }
}


/* For Mobile devices */
@media only screen and  (max-width: 426px) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #919191;
        background-color: #896161;
        /* clear: both; */
    }
    .wrapper {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
    }
    #header #hgroup {
        float: left;
        margin: 0 0 20px 0;
    }
    #header #hgroup h1 {
        color: black;
        font-size: 36px;
    }
    #header #hgroup h1, #header #hgroup h2 {
        font-weight: normal;
        text-transform: none;
    }
    #header #hgroup h2 {
        font-size: 13px;
    }
    #header form {
        display: block;
        width: 290px;
        float: right;
        margin: 20px 0;
        padding: 0;
        border: none;
    }
    form, fieldset, legend {
        margin: 0;
        padding: 0;
        border: none;
    }
    legend {
        display: none;
    }
    #header form input {
        display: block;
        width: 200px;
        float: left;
        margin: 0;
        padding: 5px;
        color: #C0BAB6;
        background-color: #232323;
        border: 1px solid #666666;
    }
    input, textarea, select {
        font-size: 12px;
        font-family: Georgia,"Times New Roman",Times,serif;
        margin: 0;
        padding: 5px;
    }
    .clear {
        clear: both;
    }
    a {
        outline: none;
        text-decoration: none;
    }
    #header form #sf_submit {
        display: block;
        float: right;
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        color: #FFFFFF;
        background-color: #FF9900;
        cursor: pointer;
    }
    #header nav  {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        color: #C0BAB6;
        background-color: #232323;
        clear: both;
    }
    #header nav ul {
        padding: 0 20px;
    }
    #header nav ul {
        margin: 0;
        list-style: none;
        padding: 5px;
    }
    #header nav li {
        display: inline;
        margin-right: 25px;
        text-transform: uppercase;
    }
    #header nav li a {
        color: #C0BAB6;
        background-color: #232323;
    }
    #header nav li.last {
        margin-right: 0;
    }

    p {
        color: #ffffff;
    }
    h2 {
        color: whitesmoke;
    }
    .row2 a {
        color: #ffffff;
        background-color: #000000;
        border-radius: 1px;
    }
    .row3 a {
        color: orange;
    }
    #header, #container, #footer {
        width: 100% !important;
    }
   
    #header{
        background-color: rgb(22, 68, 204) !important;
        padding: 20px 0;
    }

    #header nav ul li {
        width: 100%;
        display: block;
        border-bottom: 2px solid wheat;
        text-align: center;
        margin-bottom: 1;
    }
    #header nav ul {
        FONT-WEIGHT: 100;
        padding: 0;
    }
    #header nav {
        padding: 0;
    }
    #header nav li {
        margin-right: 0;
    }
    #header nav ul li a:hover {
        color: #FF9900;
        background-color: black;
    
    }

    /* container */
    #container {
        padding: 30px 0;
        background-color: #d1010f;
        clear: both;
    }
    .one_quarter {
        width: 90%;
    }
    #container #homepage #services figure {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }
    .one_quarter, .two_quarter, .three_quarter, .four_quarter {
        /* display: block; */
        /* float: left; */
        margin: 20px 20px;
        padding: 10px 20px 10px 0;
        box-sizing: border-box;
    }
    #container #homepage #services article {
        margin-left: 20px;
    }
    #container #homepage #services strong {
        float: left;
        margin: 8px 0 0 10px;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(253, 255, 253);
        
    }
    #container #homepage #services p {
        display: block;
        margin: 0;
        padding: 5px 0 0 0;
        line-height: 1.6em;
        clear: both;
    }
    .three_quarter {
        width: 90%;
    }
    #footer {
        padding: 10px 0;
        background-color: #000000;
    }
    #footer p {
        margin: 10px;
        padding: 0;
    }
    .fl_left {
        text-align: left;
        width: 100%;
    } 
    .fl_right {
        float: left;
    }
}

  /* above 768px */
@media only screen and (max-width: 768px) {
    #header{
        width: 960px;
        background-color: rgb(29, 202, 110);
    }
    #header nav ul li {
        width: 100%;
        display: inline;
        margin-right: 25px;
        text-transform: uppercase;
    }
    #header nav ul {
        padding: 0 20px;
    }
    #header nav {
        padding: 20px 0;
    }
} 